* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items li {
    margin-right: 20px;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-items a:hover {
    color: #f0a500;
}

.edit-btn {
    background-color: #f0a500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: #d18a00;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #f4f4f4;
}

.banner-content {
   
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.banner-text {
    padding-top: 250px;
    flex: 1;
}

.banner-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #555;
}

.banner-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.banner-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.dragging {
    opacity: 0.5;
}